<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image" href="static/logo2.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="stylesheet" href="static/navbar-top-fixed.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Language Assist</title>
  </head>
  <body>
	<div class="row">
		<nav class="navbar navbar-expand-md fixed-top bg-dark">
      <a class="navbar-brand" href="#">
        <img src="static/logo1.png" width="30" height="40" class="d-inline-block align-top" alt="">
      </a>
		  <a class="navbar-brand" href="#" style="color:#f8f9fa;">Letter Writing</a>
      <a class="py-2 d-none d-md-inline-block" style="color:#f8f9fa;" onclick="window.location.href='{{ url_for('index') }}';">Home</a>
		</nav>
  </div>
	<main role="container" class="row" style="margin-top:40px;">
        <div class="col-sm-9 text-container">
          <div class="row"><textarea class = "editor" id="editor" form="usrform" placeholder="Enter text here..." ondblclick="captureText()">
 **Sample Letter**
To,
The Editor-in-Chief,
Hindustan Times,
Mumbai 400 001.

Subject: Construction work in our locality during monsoon season causing us difficulties.

Sir,
    Through the medium of your esteemed and respected daily, I wish to inform the municipal authorities of the difficulties the residents of my locality are facing due to the construction and repair work currently happening in our area. Monsoon season has started a few days ago and is compounding our problems.
The repair work has been ongoing for five weeks now and is falling way behind schedule. And now with the current weather conditions, we are having persistent problems of water logging and flooding in our area. Another worry is about the accidents that may occur due to the debris lying around the road. Diseases caused due to waterlogging are another one of our concerns.
Therefore I wish to draw the attention of the concerned authorities with the help of your newspaper. Hopefully, you will be able to help us in drawing their attention and resolving this matter at the earliest.
Thanking You,
Your Sincerely,
**signature**
[Mr. XYZ]
  </textarea></div>
          <div class="row" id="wrapper">
            <div class="col custom-file" style="margin-top:10px;margin-left:8%;max-width:20%"><input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" onchange="showFile()">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
            <button type="button" class="col button-style btn btn-light" style="margin-top:10px;max-width:15%" onclick= "langCheck()">Grammar Check</button>
            <button id="copy-button" type="button" class="col button-style btn btn-light" style="margin-top:10px;max-width:15%">Copy</button>
            <button class="col button-style btn btn-light" type="button" style="margin-top:10px;max-width:15%" id="done" onclick="retrain()">Done</button>
            <button class="col button-style btn btn-light" type="button" style="margin-top:10px;max-width:15%;margin-right:8%;" id="btn-export" value="save" onclick="down()">Download</button>
          </div>
        </div>
        <div id = "synonym-parent" style="margin-top:2%;" class="col-sm-3 suggestor" >
          <h4>Suggestions</h4>
          <div id="list"></div>
        </div>
    </main><br>
    <div class="container">
      <div class="row"><h1 class="text-center">Format of a Formal Letter</h1></div>
      <div class="row"><h4>Receiver’s Address</h4></div>
      <div class="row"><p>Receiver’s address is on the left side of the page. Whether to write “To” above the address depends on the writer’s preference. Make sure you write the official title/name/position etc of the receiver, as the first line of the address.</p></div>
      <div class="row"><h4>Greeting</h4></div>
      <div class="row"><p>This is where you greet the person you are addressing the letter to. Bear in mind that it is a formal letter, so the greeting must be respectful and not too personal. The general greetings used in formal letters are “Sir” or “Madam”. If you know the name of the person the salutation may also be “Mr. XYZ” or “Ms. ABC”. But remember you cannot address them only by their first name. It must be the full name or only their last name.</p></div>
      <div class="row"><h4>Subject</h4></div>
      <div class="row"><p>After the salutation/greeting comes the subject of the letter. In the centre of the line write ‘Subject” followed by a colon. Then we sum up the purpose of writing the letter in one line. This helps the receiver focus on the subject of the letter in one glance.</p></div>
      <div class="row"><h4>Body of the Letter</h4></div>
      <div class="row"><p>This is the main content of the letter. It is either divided into three paras or two paras if the letter is briefer. The purpose of the letter should be made clear in the first paragraph itself. The tone of the content should be formal. Do not use any flowery language. Another point to keep in mind is that the letter should be concise and to the point. And always be respectful and considerate in your language, no matter the subject of your letter.</p></div>
      <div class="row"><h4>Closing the Letter</h4></div>
      <div class="row"><p>At the end of your letter, we write a complimentary losing. The words “Yours Faithfully” or “Yours Sincerely” are printed on the right side of the paper. Generally, we use the later if the writer knows the name of the person.</p></div>
      <div class="row"><h4>Signature</h4></div>
      <div class="row"><p>Here finally you sign your name. And then write your name in block letters beneath the signature. This is how the recipient will know who is sending the letter.</p></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="static/new.js"></script>
    <script type="text/javascript">
    var input  = document.getElementById("editor");
    var button = document.getElementById("copy-button");

    button.addEventListener("click", function (event) {
        event.preventDefault();
        input.select();
        document.execCommand("copy");
    });
    function setText(){
      var text = document.getElementById("editor").value;
      document.getElementById("editor").value = text;
    }
    function exportHTML(){
       var sourceHTML = document.getElementById("editor").value;
       var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
       var fileDownload = document.createElement("a");
       document.body.appendChild(fileDownload);
       fileDownload.href = source;
       fileDownload.download = 'document.docx';
       fileDownload.click();
       document.body.removeChild(fileDownload);
    }

    function retrain(){
      var editor = document.getElementById('editor');
      var text = editor.value;
      $.ajax('/retrain', {
        type: "POST",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify(text),
        success: function(data, status){
          console.log("Sucess!")
        }
      });
    } 


    function down(){
    var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
    var postHtml = "</body></html>";
    //var html = preHtml+document.getElementById("editor").innerHTML+postHtml;
    var html = document.getElementById("editor").value;
    var blob = new Blob(['\ufeff', html], {
        type: 'application/msword'
    });
    
    // Specify link url
    var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
    
    // Specify file name
    filename = 'document.doc';
    
    // Create download link element
    var downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob ){
        navigator.msSaveOrOpenBlob(blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = url;
        
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
    
      document.body.removeChild(downloadLink);
    }

    </script>
    <script src="static/editor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
